/* Enter your custom styles here */
.centralizarTabela {
  width: 99%;
  margin: auto;
}

.cabecalhoTopo {
  background-color: white;
  padding: 1.5rem;
}

.cabecalhoTexto {
  color: #003e87;
  font-size: 1.5rem;
  font-weight: bold;
}

.tabelaTituloAzul .sapMTitle {
    color: #003e87 !important; /* Azul SAP (exemplo) */
    font-weight: bold;
    font-size: 1.1rem;
}

.cabecalhoTabela {
  background-color: white;
  height: 2.5rem !important;
}

.tituloDialog {
  color: #0a6ed1;
  font-size: 1.4rem;
  font-weight: 600;
}

.bordaTabela {
  box-shadow: 0 0 1px #070f26;
  border-radius: 4px;
  background-color: #ffffff
}
