/* INICIO - Cabeçalho Principal */
 
.cabecalhoTopo {
  background-color: white;
  padding: 1.5rem;
}
 
.textoLogo {
  color: #003e87 !important;
  font-size: 1rem;
}
 
.cabecalhoTexto {
  color: #003e87;
  font-size: 1.5rem;
}
 
/* FIM - Cabeçalho Principal */
 
 
/* INICIO - Tabelas */
 
.centralizarTabela {
  width: 99.5%;
  margin: auto;
}
 
.bordaTabela {
  box-shadow: 0 0 1px #070f26;
  border-radius: 4px;
}
 
.tituloTabela {
  color: #003e87;
  font-size: 1.1rem;
  font-weight: 700 !important;
}
 
.cabecalhoTabela {
  height: 2.5rem !important;
}
 
/* FIM - Tabelas */
 
 